# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/
obj_dir/

# Logs
logs/
reports/
*.log

# OS
.DS_Store
